* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* carousel pagination start  */
.krmNah {
  border-radius: 0px !important;
  box-shadow: none !important;
  width: 500px !important;
  height: 4px !important;
  margin: 0px !important;
  background-color: red !important;
}

.jhmYzC {
  border-radius: 0px !important;
  box-shadow: none !important;
  width: 500px !important;
  height: 4px !important;
  margin: 0px !important;
}

.kdCslO {
  margin-top: 40px !important;
  width: 100% !important;
  background-color: white !important;
  height: 4px !important;
  background-color: rgb(65, 60, 60) !important;
}
/* carousel pagination ends  */

/* carousel arrow  start*/

.eAyARa {
  background-color: transparent !important;
  color: white !important;
  box-shadow: none !important;
}

.eWjCzc {
  background-color: transparent !important;
  color: white !important;
  box-shadow: none !important;
}

.eAyARa:hover {
  background-color: transparent !important;
  color: rgb(255, 0, 0) !important;
  box-shadow: none !important;
}

.eWjCzc:hover {
  background-color: transparent !important;
  color: rgb(255, 0, 0) !important;
  box-shadow: none !important;
}

/* carousel arrow  end*/
