.sort-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
}
.sort-section__text {
  color: white;
}
